<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KeithConnectionString" providerName="System.Data.SqlClient"
         connectionString="Server=grass.arvixe.com; Database=BreadProjectJr; User Id=is283_kmne68; Password=zookie321;"/>
  </connectionStrings>
</configuration>