<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="KeithConnectionString" providerName="System.Data.SqlClient"
         connectionString="Server=grass.arvixe.com; Database=BreadProjectJr; User Id=is283_kmne68; Password=zookie321;"/>
  </connectionStrings>
</configuration>